<!-- blog/templates/blog/post_form.html -->
{% extends 'blog/base.html' %}

{% block title %}{% if object %}Edit Post{% else %}Create Post{% endif %}{% endblock %}

{% block content %}
<h2>{% if object %}Edit "{{ object.title }}" {% else %}Write a New Post{% endif %}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">{% if object %}Update{% else %}Publish{% endif %}</button>
</form>

<a href="{% url 'blog:post-list' %}" class="btn">Cancel</a>
{% endblock %}